@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* TABS: height */
:root {
 --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
 --tab-min-height: 20px !important;
}
:root #tabbrowser-tabs {
 --tab-min-height: 20px !important;
}
#TabsToolbar {
height: var(--tab-min-height) !important;
font-size: 12px !important;
}
#nav-bar {
height: var(--tab-min-height) !important;
font-size: 12px !important;
}

